</body>
<footer class="text-center container-fluid bFoot" style="margin:10vh;">
	<div class="container">
		<span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2018 <a href="http://nekonisi.com">nekonisi</a><br class="visible-xs-inline">
		</p>
	</div>
</footer>
<!-- bootstrap js ここから-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!-- bootstrap js ここまで-->
</html>
